.container.slp-container.text-center
  .row.u-margin-top-lg.u-margin-bottom-lg
    %h4 Events Code of conduct
    %p 
      GitLab is committed to providing a safe and welcoming experience for every attendee at all of our events whether they are virtual or onsite. Please review our
      = link_to "code of conduct", "/company/culture/ecoc/", target: "_blank", :"data-ga-name" => "code of conduct", :"data-ga-location" => "body"
      to ensure Commit is a friendly, inclusive, and comfortable environment for all participants.
